@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Anton', sans-serif;
    --fonte3: 'Dancing Script', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte2);
    font-size: 9vw;
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonte3);
    font-size: 4.5vw;
    line-height: 2em;
    padding-left: 30px;
    padding-top: 8vh;
    padding-bottom: 2vh;
}

section.normal {
    background-color: white;
    color: black;
}

section > p > a {
    color: black;
}

section > p > a:hover {
    color: rgba(0, 0, 0, 0.63);
}

section > p {
    padding-bottom: 2em;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.301);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.527);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.274);
    color: white;
    display: inline-block;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.712);
    padding: 5px;
}

section#img01 {
    background-image: url('../imagens/futebol.jpeg');
    background-position: center center;
}

section#img02 {
    background-image: url('../imagens/dia-nacional-do-futebol_c.jpg');
    background-position: center center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}