@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fontepadrão: Arial, Helvetica, sans-serif;
    --fontetitulos: 'Love Ya Like A Sister', cursive;
    --fonte1: 'Lovers Quarrel', cursive;
    --fonte2: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: 100vh;
}

body {
    background-color: lightgray;
    font-family: var(--fontepadrão);
    background-image: url('../imagens/corações.jpg');
    background-attachment: fixed;
}

header {
    background-color: red;
    color: white;
    text-align: center;
    padding-bottom: 50px;
}

header h1 {
    font-family: var(--fontetitulos);
    font-size: 6.7vh;
    padding-top: 50px;
}

header p {
    font-family: var(--fonte1);
    font-size: 2em;
}

main {
    max-width: 400px;
    background-color: black;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
}

section {
    padding-bottom: 10vh;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-family: var(--fonte2);
}

section h1 {
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-family: var(--fontetitulos);
    font-size: 2em;
    color: red;
}

section p {
    font-family: var(--fonte3);
    font-size: 1em;
}

section.normal {
    color: white;
    padding-top: 20px;
    font-size: 1.3em;
}

section.imagem1 {
    background-image: url('../imagens/vida1.jpg');
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
}

section.imagem1 > p {
    color: black;
    font-weight: bold;
    font-size: 1.4em;
    padding: 50px;
    text-align: center;
}

section.imagem2 {
    background-image: url('../imagens/nós\ 2.jpg');
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem2 > p {
    color: black;
    font-weight: bold;
    font-size: 1.4em;
    padding: 50px;
    text-align: center;
}

p.futuro {
    text-align: right;
    padding-top: 20px;
}


footer {
    background-color: red;
    color: white;
    padding: 8px;
    text-align: center;
    
}

footer a {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.726);
    text-decoration: none;
    padding: 5px;
}

footer a:hover {
    text-decoration: underline;
    color: white;
    transition-duration: 0.7s;
}
